// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

   .card:hover{
  opacity: 0.3;
  }

.card-pages {
  height: 50px;
  padding: 10px;
  color: black;
  margin-left: 10px;
  background-color: #ffffff;
}


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  border-radius: 50%;
}

.navbar {
  height: 70px;
  position: fixed;
  margin-top: -70px;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  color: white;
  display: flex;
}

.container{
  margin-top:70px;
  width: 80hv;
}

.navbar-photo{
  position: fixed;
  left: 10px;
  top: 10px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
}


.pagination {
  marging: 0px;
}
