<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="Teste Gigaservice" content="Teste do Kauê">
    <meta name="keywords" content="Giga, Rails, API, Gigaservice">
    <meta name="author" content="Kauê Matteucci">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>GigaServiceKaue</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
